<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Edit Project</h1>
      <button class="button button-clear button-positive" ng-click="closeEditProject()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="updateProject(projectIndex, project)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What is the name of the project?" ng-model="project.title">
          </label>
        </div>
        <div class="row">
          <div class="col">
                <button type="submit" class="button button-block button-positive">Update</button>
           </div>
           <div class="col">
                <button class="button button-block button-assertive" ng-click="deleteProject(projectIndex, project)">Delete</button>
           </div> 
        </div>
      </form>
    </ion-content>
  </div>
